<div class="<%= directiveDashed %>-container">
  <h1>{{ ctrl.greeting() }}</h1>
<% if (collection) { %>
  <div
    ng-if="collection.length"
    ng-repeat="model in collection.models"
    class="<%= _.dasherize(collection.toLowerCase()) %>-list"
  >
    <div class="<%= _.dasherize(pluralize.singular(collection.toLowerCase())) %>-item">
      Item #{{ model.id }}
    </div>
  </div>
<% } %>
</div>

<% if (options.hintHTML) { %><!-- Now, just drop this tag into your HTML:
  <%= directiveTag %>
--><% } %>
